@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .overlay {
    @apply fixed top-0 left-0 w-full h-full z-[88] bg-overlayGr;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.area {
  grid-template-areas:
    "sidebar header "
    "sidebar main"
    "sidebar main";
  grid-template-rows: 120px 1fr 1fr;
}
.sidebar {
  grid-area: sidebar;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
@media screen and (max-width: 1024px) {
  .area {
    grid-template-areas:
      "header header"
      "main main"
      "main main";
  }
}
